/* Wrapper */
.login-wrapper {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* LEFT */
.login-left {
  flex: 8;
  background-image: url("/background.png");
  background-size: cover; /* phủ kín khung */
  background-position: center; /* canh giữa ảnh */
  background-repeat: no-repeat; /* không lặp */
}

/* RIGHT */
.login-right {
  flex: 4;
  background: #0f3d8a;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center content */
.login-center {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

/* LOGO – hòa nền */
.login-logo {
  width: 300px;
  margin-bottom: 24px;
  object-fit: contain;
}

/* LOGIN BOX */
.login-box {
  background: #ffffff;
  padding: 28px 26px;
  border-radius: 14px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.18);
}

.login-box h2 {
  margin-bottom: 20px;
  color: #0f3d8a;
}

/* Form */
.form-group {
  margin-bottom: 14px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #0f3d8a;
}

/* Password */
.pw-wrapper {
  display: flex;
  align-items: center;
}

.show-pw-btn {
  margin-left: 8px;
  border: none;
  background: transparent;
  color: #0f3d8a;
  font-size: 13px;
  cursor: pointer;
}

/* Error */
.error-text {
  color: #d32f2f;
  font-size: 13px;
  margin-bottom: 10px;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 11px;
  border-radius: 8px;
  border: none;
  background: #0f3d8a;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:disabled {
  opacity: 0.7;
}

/* Forgot */
.forgot-password {
  display: inline-block;
  margin-top: 14px;
  font-size: 13px;
  color: #0f3d8a;
  cursor: pointer;
}
